/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

p,ol,ul,td{
  font-size:13px;
  line-height: 18px
}

body{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  margin:33px;
}

p{
  font-size: 13px;
  margin: 33px;
}

th{
  padding-bottom: 5px;
}

.field{
  margin-bottom: 10px
}

.list-wrap {
  display: flex;
  flex-wrap: wrap;
}

.list-box {
  width: 200px;
  height: 10px;
}

.list-body{
  width:400px;
}

.link-edit{
  margin-right: 10px;
  margin-left: 10px;
}

input[type="text"]{
  width: 200px;
  height: 25px;
}

textarea[name = "body"]{
  width: 200px;
}

.text-body{
  margin-bottom: 25px;
}

input[type="submit"]{
  width: 100px;
  height: 25px;
  margin-bottom: 10px
}

/*.Show-Back-Button{*/

/*}*/

#notice {
    color: green;
}

.error-message{
  color: white;
  background-color: red;
  width: 40%;
  height: 1.2rem;
  padding-left: 7px;
  border-radius: 7px;
  line-height: 1.2rem;
  margin-bottom: 10px;
}